@font-face {
  font-family: 'Nistacons';
  src:  url('fonts/Nistacons.eot?advpcr');
  src:  url('fonts/Nistacons.eot?advpcr#iefix') format('embedded-opentype'),
    url('fonts/Nistacons.ttf?advpcr') format('truetype'),
    url('fonts/Nistacons.woff?advpcr') format('woff'),
    url('fonts/Nistacons.svg?advpcr#Nistacons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='ns-'],
[class*=' ns-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Nistacons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ns-add:before {
  content: "\e900";
}
.ns-alarm-clock:before {
  content: "\e901";
}
.ns-align-center:before {
  content: "\e902";
}
.ns-align-justify:before {
  content: "\e903";
}
.ns-align-left:before {
  content: "\e904";
}
.ns-align-right:before {
  content: "\e905";
}
.ns-ambulance:before {
  content: "\e906";
}
.ns-angle-double-left:before {
  content: "\e907";
}
.ns-angle-double-right:before {
  content: "\e908";
}
.ns-angle-double-small-left:before {
  content: "\e909";
}
.ns-angle-double-small-right:before {
  content: "\e90a";
}
.ns-angle-down:before {
  content: "\e90b";
}
.ns-angle-left:before {
  content: "\e90c";
}
.ns-angle-right:before {
  content: "\e90d";
}
.ns-angle-small-down:before {
  content: "\e90e";
}
.ns-angle-small-left:before {
  content: "\e90f";
}
.ns-angle-small-right:before {
  content: "\e910";
}
.ns-angle-small-up:before {
  content: "\e911";
}
.ns-angle-up:before {
  content: "\e912";
}
.ns-apps-add:before {
  content: "\e913";
}
.ns-apps-delete:before {
  content: "\e914";
}
.ns-apps-sort:before {
  content: "\e915";
}
.ns-apps:before {
  content: "\e916";
}
.ns-archive:before {
  content: "\e917";
}
.ns-arrow-down:before {
  content: "\e918";
}
.ns-arrow-left:before {
  content: "\e919";
}
.ns-arrow-right:before {
  content: "\e91a";
}
.ns-arrow-small-down:before {
  content: "\e91b";
}
.ns-arrow-small-left:before {
  content: "\e91c";
}
.ns-arrow-small-right:before {
  content: "\e91d";
}
.ns-arrow-small-up:before {
  content: "\e91e";
}
.ns-arrow-up:before {
  content: "\e91f";
}
.ns-asterisk:before {
  content: "\e920";
}
.ns-backpack:before {
  content: "\e921";
}
.ns-badge:before {
  content: "\e922";
}
.ns-ban:before {
  content: "\e923";
}
.ns-band-aid:before {
  content: "\e924";
}
.ns-bank:before {
  content: "\e925";
}
.ns-barber-shop:before {
  content: "\e926";
}
.ns-baseball:before {
  content: "\e927";
}
.ns-basketball:before {
  content: "\e928";
}
.ns-bell-ring:before {
  content: "\e929";
}
.ns-bell-school:before {
  content: "\e92a";
}
.ns-bell:before {
  content: "\e92b";
}
.ns-billiard:before {
  content: "\e92c";
}
.ns-bold:before {
  content: "\e92d";
}
.ns-book-alt:before {
  content: "\e92e";
}
.ns-book:before {
  content: "\e92f";
}
.ns-bookmark:before {
  content: "\e930";
}
.ns-bowling:before {
  content: "\e931";
}
.ns-box-alt:before {
  content: "\e932";
}
.ns-box:before {
  content: "\e933";
}
.ns-briefcase:before {
  content: "\e934";
}
.ns-broom:before {
  content: "\e935";
}
.ns-browser:before {
  content: "\e936";
}
.ns-brush:before {
  content: "\e937";
}
.ns-bug:before {
  content: "\e938";
}
.ns-building:before {
  content: "\e939";
}
.ns-bulb:before {
  content: "\e93a";
}
.ns-calculator:before {
  content: "\e93b";
}
.ns-calendar:before {
  content: "\e93c";
}
.ns-camera:before {
  content: "\e93d";
}
.ns-caret-down:before {
  content: "\e93e";
}
.ns-caret-left:before {
  content: "\e93f";
}
.ns-caret-right:before {
  content: "\e940";
}
.ns-caret-up:before {
  content: "\e941";
}
.ns-check:before {
  content: "\e942";
}
.ns-checkbox:before {
  content: "\e943";
}
.ns-chess:before {
  content: "\e944";
}
.ns-circle-small:before {
  content: "\e945";
}
.ns-circle:before {
  content: "\e946";
}
.ns-clip:before {
  content: "\e947";
}
.ns-clock:before {
  content: "\e948";
}
.ns-cloud-check:before {
  content: "\e949";
}
.ns-cloud-disabled:before {
  content: "\e94a";
}
.ns-cloud-download:before {
  content: "\e94b";
}
.ns-cloud-share:before {
  content: "\e94c";
}
.ns-cloud-upload:before {
  content: "\e94d";
}
.ns-cloud:before {
  content: "\e94e";
}
.ns-comment-alt:before {
  content: "\e94f";
}
.ns-comment:before {
  content: "\e950";
}
.ns-compress-alt:before {
  content: "\e951";
}
.ns-compress:before {
  content: "\e952";
}
.ns-computer:before {
  content: "\e953";
}
.ns-cookie:before {
  content: "\e954";
}
.ns-copy-alt:before {
  content: "\e955";
}
.ns-copy:before {
  content: "\e956";
}
.ns-copyright:before {
  content: "\e957";
}
.ns-cream:before {
  content: "\e958";
}
.ns-credit-card:before {
  content: "\e959";
}
.ns-cross-circle:before {
  content: "\e95a";
}
.ns-cross-small:before {
  content: "\e95b";
}
.ns-cross:before {
  content: "\e95c";
}
.ns-crown:before {
  content: "\e95d";
}
.ns-cursor-finger:before {
  content: "\e95e";
}
.ns-cursor-plus:before {
  content: "\e95f";
}
.ns-cursor-text-alt:before {
  content: "\e960";
}
.ns-cursor-text:before {
  content: "\e961";
}
.ns-cursor:before {
  content: "\e962";
}
.ns-dart:before {
  content: "\e963";
}
.ns-dashboard:before {
  content: "\e964";
}
.ns-data-transfer:before {
  content: "\e965";
}
.ns-database:before {
  content: "\e966";
}
.ns-delete:before {
  content: "\e967";
}
.ns-diamond:before {
  content: "\e968";
}
.ns-dice:before {
  content: "\e969";
}
.ns-diploma:before {
  content: "\e96a";
}
.ns-disk:before {
  content: "\e96b";
}
.ns-doctor:before {
  content: "\e96c";
}
.ns-document-signed:before {
  content: "\e96d";
}
.ns-document:before {
  content: "\e96e";
}
.ns-dollar:before {
  content: "\e96f";
}
.ns-download:before {
  content: "\e970";
}
.ns-duplicate:before {
  content: "\e971";
}
.ns-e-learning:before {
  content: "\e972";
}
.ns-earnings:before {
  content: "\e973";
}
.ns-edit-alt:before {
  content: "\e974";
}
.ns-edit:before {
  content: "\e975";
}
.ns-envelope:before {
  content: "\e976";
}
.ns-euro:before {
  content: "\e977";
}
.ns-exclamation:before {
  content: "\e978";
}
.ns-expand:before {
  content: "\e979";
}
.ns-eye-crossed:before {
  content: "\e97a";
}
.ns-eye-dropper:before {
  content: "\e97b";
}
.ns-eye:before {
  content: "\e97c";
}
.ns-feather:before {
  content: "\e97d";
}
.ns-file-add:before {
  content: "\e97e";
}
.ns-file-ai:before {
  content: "\e97f";
}
.ns-file-check:before {
  content: "\e980";
}
.ns-file-delete:before {
  content: "\e981";
}
.ns-file-eps:before {
  content: "\e982";
}
.ns-file-gif:before {
  content: "\e983";
}
.ns-file-music:before {
  content: "\e984";
}
.ns-file-psd:before {
  content: "\e985";
}
.ns-file:before {
  content: "\e986";
}
.ns-fill:before {
  content: "\e987";
}
.ns-film:before {
  content: "\e988";
}
.ns-filter:before {
  content: "\e989";
}
.ns-fingerprint:before {
  content: "\e98a";
}
.ns-flag:before {
  content: "\e98b";
}
.ns-flame:before {
  content: "\e98c";
}
.ns-flip-horizontal:before {
  content: "\e98d";
}
.ns-folder-add:before {
  content: "\e98e";
}
.ns-folder:before {
  content: "\e98f";
}
.ns-following:before {
  content: "\e990";
}
.ns-football:before {
  content: "\e991";
}
.ns-form:before {
  content: "\e992";
}
.ns-forward:before {
  content: "\e993";
}
.ns-ftp:before {
  content: "\e994";
}
.ns-gallery:before {
  content: "\e995";
}
.ns-glasses:before {
  content: "\e996";
}
.ns-globe-alt:before {
  content: "\e997";
}
.ns-globe:before {
  content: "\e998";
}
.ns-golf:before {
  content: "\e999";
}
.ns-graduation-cap:before {
  content: "\e99a";
}
.ns-graphic-tablet:before {
  content: "\e99b";
}
.ns-grid-alt:before {
  content: "\e99c";
}
.ns-grid:before {
  content: "\e99d";
}
.ns-gym:before {
  content: "\e99e";
}
.ns-headphones:before {
  content: "\e99f";
}
.ns-headset:before {
  content: "\e9a0";
}
.ns-heart:before {
  content: "\e9a1";
}
.ns-home:before {
  content: "\e9a2";
}
.ns-hourglass-end:before {
  content: "\e9a3";
}
.ns-hourglass:before {
  content: "\e9a4";
}
.ns-ice-skate:before {
  content: "\e9a5";
}
.ns-id-badge:before {
  content: "\e9a6";
}
.ns-inbox:before {
  content: "\e9a7";
}
.ns-incognito:before {
  content: "\e9a8";
}
.ns-indent:before {
  content: "\e9a9";
}
.ns-infinity:before {
  content: "\e9aa";
}
.ns-info:before {
  content: "\e9ab";
}
.ns-interactive:before {
  content: "\e9ac";
}
.ns-interlining:before {
  content: "\e9ad";
}
.ns-interrogation:before {
  content: "\e9ae";
}
.ns-italic:before {
  content: "\e9af";
}
.ns-jpg:before {
  content: "\e9b0";
}
.ns-key:before {
  content: "\e9b1";
}
.ns-keyboard:before {
  content: "\e9b2";
}
.ns-label:before {
  content: "\e9b3";
}
.ns-laptop:before {
  content: "\e9b4";
}
.ns-lasso:before {
  content: "\e9b5";
}
.ns-layers:before {
  content: "\e9b6";
}
.ns-layout-fluid:before {
  content: "\e9b7";
}
.ns-letter-case:before {
  content: "\e9b8";
}
.ns-life-ring:before {
  content: "\e9b9";
}
.ns-line-width:before {
  content: "\e9ba";
}
.ns-link:before {
  content: "\e9bb";
}
.ns-lipstick:before {
  content: "\e9bc";
}
.ns-list-check:before {
  content: "\e9bd";
}
.ns-list:before {
  content: "\e9be";
}
.ns-location-alt:before {
  content: "\e9bf";
}
.ns-lock-alt:before {
  content: "\e9c0";
}
.ns-lock:before {
  content: "\e9c1";
}
.ns-magic-wand:before {
  content: "\e9c2";
}
.ns-makeup-brush:before {
  content: "\e9c3";
}
.ns-marker-time:before {
  content: "\e9c4";
}
.ns-marker:before {
  content: "\e9c5";
}
.ns-medicine:before {
  content: "\e9c6";
}
.ns-megaphone:before {
  content: "\e9c7";
}
.ns-menu-burger:before {
  content: "\e9c8";
}
.ns-menu-dots-vertical:before {
  content: "\e9c9";
}
.ns-menu-dots:before {
  content: "\e9ca";
}
.ns-microphone-crossed:before {
  content: "\e9cb";
}
.ns-microphone:before {
  content: "\e9cc";
}
.ns-minus-small:before {
  content: "\e9cd";
}
.ns-minus:before {
  content: "\e9ce";
}
.ns-mobile:before {
  content: "\e9cf";
}
.ns-mode-landscape:before {
  content: "\e9d0";
}
.ns-mode-portrait:before {
  content: "\e9d1";
}
.ns-money:before {
  content: "\e9d2";
}
.ns-mouse:before {
  content: "\e9d3";
}
.ns-music-alt:before {
  content: "\e9d4";
}
.ns-music:before {
  content: "\e9d5";
}
.ns-network-cloud:before {
  content: "\e9d6";
}
.ns-network:before {
  content: "\e9d7";
}
.ns-notebook:before {
  content: "\e9d8";
}
.ns-opacity:before {
  content: "\e9d9";
}
.ns-package:before {
  content: "\e9da";
}
.ns-paint-brush:before {
  content: "\e9db";
}
.ns-palette:before {
  content: "\e9dc";
}
.ns-paper-plane:before {
  content: "\e9dd";
}
.ns-password:before {
  content: "\e9de";
}
.ns-pause:before {
  content: "\e9df";
}
.ns-pencil:before {
  content: "\e9e0";
}
.ns-pharmacy:before {
  content: "\e9e1";
}
.ns-phone:before {
  content: "\e9e2";
}
.ns-physics:before {
  content: "\e9e3";
}
.ns-picture:before {
  content: "\e9e4";
}
.ns-ping-pong:before {
  content: "\e9e5";
}
.ns-play-alt:before {
  content: "\e9e6";
}
.ns-play:before {
  content: "\e9e7";
}
.ns-playing-cards:before {
  content: "\e9e8";
}
.ns-plus-small:before {
  content: "\e9e9";
}
.ns-plus:before {
  content: "\e9ea";
}
.ns-poker-chip:before {
  content: "\e9eb";
}
.ns-portrait:before {
  content: "\e9ec";
}
.ns-pound:before {
  content: "\e9ed";
}
.ns-power:before {
  content: "\e9ee";
}
.ns-presentation:before {
  content: "\e9ef";
}
.ns-print:before {
  content: "\e9f0";
}
.ns-protractor:before {
  content: "\e9f1";
}
.ns-pulse:before {
  content: "\e9f2";
}
.ns-quote-right:before {
  content: "\e9f3";
}
.ns-rec:before {
  content: "\e9f4";
}
.ns-receipt:before {
  content: "\e9f5";
}
.ns-rectangle-horizontal:before {
  content: "\e9f6";
}
.ns-rectangle-panoramic:before {
  content: "\e9f7";
}
.ns-rectangle-vertical:before {
  content: "\e9f8";
}
.ns-redo:before {
  content: "\e9f9";
}
.ns-reflect:before {
  content: "\e9fa";
}
.ns-refresh:before {
  content: "\e9fb";
}
.ns-resize:before {
  content: "\e9fc";
}
.ns-resources:before {
  content: "\e9fd";
}
.ns-rewind:before {
  content: "\e9fe";
}
.ns-rocket:before {
  content: "\e9ff";
}
.ns-rotate-right:before {
  content: "\ea00";
}
.ns-rugby:before {
  content: "\ea01";
}
.ns-scale:before {
  content: "\ea02";
}
.ns-school-bus:before {
  content: "\ea03";
}
.ns-school:before {
  content: "\ea04";
}
.ns-scissors:before {
  content: "\ea05";
}
.ns-screen:before {
  content: "\ea06";
}
.ns-search-alt:before {
  content: "\ea07";
}
.ns-search:before {
  content: "\ea08";
}
.ns-settings-sliders:before {
  content: "\ea09";
}
.ns-settings:before {
  content: "\ea0a";
}
.ns-share:before {
  content: "\ea0b";
}
.ns-shield-check:before {
  content: "\ea0c";
}
.ns-shield-exclamation:before {
  content: "\ea0d";
}
.ns-shield-interrogation:before {
  content: "\ea0e";
}
.ns-shield-plus:before {
  content: "\ea0f";
}
.ns-shield:before {
  content: "\ea10";
}
.ns-shop:before {
  content: "\ea11";
}
.ns-shopping-bag-add:before {
  content: "\ea12";
}
.ns-shopping-bag:before {
  content: "\ea13";
}
.ns-shopping-cart-add:before {
  content: "\ea14";
}
.ns-shopping-cart-check:before {
  content: "\ea15";
}
.ns-shopping-cart:before {
  content: "\ea16";
}
.ns-shuffle:before {
  content: "\ea17";
}
.ns-sign-in:before {
  content: "\ea18";
}
.ns-sign-out:before {
  content: "\ea19";
}
.ns-signal-alt-1:before {
  content: "\ea1a";
}
.ns-signal-alt-2:before {
  content: "\ea1b";
}
.ns-signal-alt:before {
  content: "\ea1c";
}
.ns-skateboard:before {
  content: "\ea1d";
}
.ns-smartphone:before {
  content: "\ea1e";
}
.ns-soap:before {
  content: "\ea1f";
}
.ns-spa:before {
  content: "\ea20";
}
.ns-speaker:before {
  content: "\ea21";
}
.ns-spinner-alt:before {
  content: "\ea22";
}
.ns-spinner:before {
  content: "\ea23";
}
.ns-square-root:before {
  content: "\ea24";
}
.ns-square:before {
  content: "\ea25";
}
.ns-star:before {
  content: "\ea26";
}
.ns-stats:before {
  content: "\ea27";
}
.ns-stethoscope:before {
  content: "\ea28";
}
.ns-sticker:before {
  content: "\ea29";
}
.ns-stop:before {
  content: "\ea2a";
}
.ns-stopwatch:before {
  content: "\ea2b";
}
.ns-subtitles:before {
  content: "\ea2c";
}
.ns-surfing:before {
  content: "\ea2d";
}
.ns-sword:before {
  content: "\ea2e";
}
.ns-syringe:before {
  content: "\ea2f";
}
.ns-tablet:before {
  content: "\ea30";
}
.ns-target:before {
  content: "\ea31";
}
.ns-tennis:before {
  content: "\ea32";
}
.ns-test-tube:before {
  content: "\ea33";
}
.ns-test:before {
  content: "\ea34";
}
.ns-text-check:before {
  content: "\ea35";
}
.ns-text:before {
  content: "\ea36";
}
.ns-thumbs-down:before {
  content: "\ea37";
}
.ns-thumbs-up:before {
  content: "\ea38";
}
.ns-ticket:before {
  content: "\ea39";
}
.ns-time-add:before {
  content: "\ea3a";
}
.ns-time-check:before {
  content: "\ea3b";
}
.ns-time-delete:before {
  content: "\ea3c";
}
.ns-time-fast:before {
  content: "\ea3d";
}
.ns-time-forward-sixty:before {
  content: "\ea3e";
}
.ns-time-forward-ten:before {
  content: "\ea3f";
}
.ns-time-forward:before {
  content: "\ea40";
}
.ns-time-half-past:before {
  content: "\ea41";
}
.ns-time-oclock:before {
  content: "\ea42";
}
.ns-time-past:before {
  content: "\ea43";
}
.ns-time-quarter-past:before {
  content: "\ea44";
}
.ns-time-quarter-to:before {
  content: "\ea45";
}
.ns-time-twenty-four:before {
  content: "\ea46";
}
.ns-tool-crop:before {
  content: "\ea47";
}
.ns-tool-marquee:before {
  content: "\ea48";
}
.ns-tooth:before {
  content: "\ea49";
}
.ns-transform:before {
  content: "\ea4a";
}
.ns-trash:before {
  content: "\ea4b";
}
.ns-treatment:before {
  content: "\ea4c";
}
.ns-trophy:before {
  content: "\ea4d";
}
.ns-umbrella:before {
  content: "\ea4e";
}
.ns-underline:before {
  content: "\ea4f";
}
.ns-undo:before {
  content: "\ea50";
}
.ns-unlock:before {
  content: "\ea51";
}
.ns-upload:before {
  content: "\ea52";
}
.ns-usb-drive:before {
  content: "\ea53";
}
.ns-user-add:before {
  content: "\ea54";
}
.ns-user-delete:before {
  content: "\ea55";
}
.ns-user-remove:before {
  content: "\ea56";
}
.ns-user-time:before {
  content: "\ea57";
}
.ns-user:before {
  content: "\ea58";
}
.ns-users:before {
  content: "\ea59";
}
.ns-vector-alt:before {
  content: "\ea5a";
}
.ns-vector:before {
  content: "\ea5b";
}
.ns-video-camera-crossed:before {
  content: "\ea5c";
}
.ns-video-camera:before {
  content: "\ea5d";
}
.ns-volleyball:before {
  content: "\ea5e";
}
.ns-volume-off:before {
  content: "\ea5f";
}
.ns-volume:before {
  content: "\ea60";
}
.ns-wifi-alt:before {
  content: "\ea61";
}
.ns-world:before {
  content: "\ea62";
}
.ns-yen:before {
  content: "\ea63";
}
.ns-zoom-in:before {
  content: "\ea64";
}
.ns-zoom-out:before {
  content: "\ea65";
}
