/* ./assets/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  body {
    font-family: 'DM Sans', sans-serif;
    @apply tail-antialiased tail-text-gray-700 tail-bg-gray-50 tail-transition-all;
  }

  ::selection {
   @apply tail-bg-blue-500
  }

  /* base h1 to h6 styles */
  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply tail-block;
  }
  h1 {
  }
  h2 {
  }
  h3 {
  }
  h4 {
  }
  h5 {
  }
  h6 {
  } */

  /* base button styles */
  /* colors */
  .gw-pry-text-color {
    @apply tail-bg-blue-500
  }

  .gw-pry-bg-color {
    @apply tail-bg-blue-500
  }

  .gw-pry-hover-bg-color:hover {
    background-color: #46A6C8;
  }

  .gw-sec-text-color {
    color: #172942;
  }

  .gw-bg-color {
    background-color: #D7D9E2;
  }

  .gw-body-color {
    background-color: #F0F5FA;
  }

  .required {
    &:after {
      content: " *";
      @apply tail-text-red-500 tail-text-sm;
    }
  }

  .snap-scroll-x {
    scroll-snap-type: x mandatory;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    > * {
      scroll-snap-align: start;
    }
  }
}


  @layer components {
    .base-button {

      @apply tail-inline-flex tail-capitalize tail-items-center tail-justify-center tail-px-4 tail-py-1 tail-h-10 tail-border tail-rounded-md tail-shadow-sm tail-text-base tail-font-medium tail-text-white disabled:tail-bg-blue-300 disabled:tail-cursor-not-allowed disabled:hover:tail-bg-none tail-bg-blue-500 hover:tail-bg-blue-600;

    }
    
    .outline-button {
      @apply tail-inline-flex tail-capitalize tail-items-center tail-justify-center tail-px-4 tail-py-1 tail-h-10 tail-border tail-rounded-md tail-shadow-sm  tail-text-blue-500 tail-border-blue-500 tail-bg-white hover:tail-bg-blue-50;
    }

    button {

      @apply focus:tail-outline-none tail-font-medium tail-capitalize tail-inline-flex tail-items-center tail-justify-center tail-transition-all;

      &.button-fill {
        @apply tail-shadow-sm tail-text-white tail-bg-blue-500 tail-border-blue-500  hover:tail-bg-blue-600 hover:tail-border-blue-600 tail-px-4 tail-py-1 tail-h-10 tail-rounded-md disabled:tail-bg-blue-300 disabled:tail-cursor-not-allowed disabled:hover:tail-bg-none;
      }

      &.button-outline {
        @apply tail-text-blue-500 tail-bg-transparent hover:tail-bg-blue-50 hover:tail-border-blue-500 tail-border tail-px-4 tail-py-1 tail-h-10 tail-rounded-md;
      }

      &.button-text {
        @apply tail-text-blue-500 tail-bg-transparent hover:tail-bg-blue-50 hover:tail-border-blue-50 tail-px-4 tail-py-1 tail-h-10 tail-rounded-md;
      }
    }

    input {
      @apply tail-placeholder-gray-400;
    }

    /* form input styles */
    /* .form-input {
      @apply tail-block tail-w-full tail-pr-10 tail-border-red-300 tail-text-red-900 tail-placeholder-red-300 focus:tail-outline-none focus:tail-ring-red-500 focus:tail-border-red-500 sm:tail-text-sm tail-rounded-md;
    } */

  }



