body {
  font-family: "Rubik", sans-serif !important;
  background-color: #f0f5fa;
  margin: auto;
}
.btn-primary {
  @apply tail-bg-blue-500
}
.btn-primary:hover {
  @apply tail-bg-blue-500
}
.or-secondary {
  background-color: rgba(240, 245, 250, 0.9);
}

.form-size {
  width: 29rem;
  height: 32rem;
}



