:root {
  box-sizing: border-box;
  // font-size: calc(0.9vw + 0.01em);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// body {
//   background: rgba(240, 245, 250, 1);
// }
.primary-color {
  @apply tail-bg-blue-500;
}
// .body-background {
//   background: rgba(240, 245, 250, 1);
// }


.btn-size {
  width: 100%;
  height: 40px;
}

.input-size {
  width: 100%;
  height: 40px;
}

.base-button {
  &:hover {
    @apply tail-bg-blue-600
  }
  &:focus {
    outline: none;
  }
}
.profile-dropdown-box {
  width: 12.875rem;
  height: 15.313rem;
  border: 0px solid rgba(250, 248, 247);
  box-shadow: 0px 4px 12px rgba(23, 41, 66, 0.05);
}

.notification-dropdown-box {
  width: 21.5rem;
  height: 27.344rem;
  // border: 0px solid rgba(250, 248, 247);
  box-shadow: 0px 2px 6px rgba(23, 41, 66, 0.05);
}

.divider-color {
  border: 2px solid rgba(23, 41, 66, 1);
}

.sec-color {
  color: #172942;;
}

.profile-form-size {
  width: 748px;
}

.add-icon-color {
  @apply tail-bg-blue-500 tail-text-white;
}

.text-primary-color {
  @apply tail-text-blue-500;
}

.multiselect__spinner:after,
.multiselect__spinner:before {
    @apply tail-bg-blue-500 
}
.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
   @apply tail-bg-blue-500 
}

.multiselect__tag,
.multiselect__option--highlight,
.multiselect__option--highlight:after{
  @apply tail-bg-blue-500 
}

.vue-tel-input{
  margin:5px 0 0 3px;
  border-radius: 0.375rem !important; 
  input.vti__input{
    font-size: 0.875rem;
    line-height: 2.6rem;;
  }
}
.fixed-content{
  min-width: 334px;
  min-height: 280px;
}
.dropdown{
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.dropdown-input, .dropdown-selected{
  width: 100%;
  padding: 10px 16px;
  border: 1px solid #edf2f7;
  background: #fff;
  line-height: 1.5em;
  outline: none;
  border-radius: 8px;
}
.dropdown-input:focus, .dropdown-selected:hover{
  background: #fff;
  border-color: #e2e8f0;
}
.dropdown-input::placeholder{
  opacity: 0.7;
}
.dropdown-selected{
  font-weight: bold;
  cursor: pointer;
}
.dropdown-list{
  position: absolute;
  width: 100%;
  max-height: 500px;
  margin-top: 4px;
  overflow-y: auto;
  background: #ffffff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  z-index: 30;
}
.dropdown-Client{
  display: flex;
  width: 100%;
  padding: 11px 16px;
  cursor: pointer;
}
.dropdown-Client:hover{
  background: #f8fafc;
}
.dropdown-item-flag{
  max-width: 24px;
  max-height: 18px;
  margin: auto 12px auto 0px;
}